.site-header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem 1.5rem;
}

.site-header > .wrapper {
  margin: auto;
  display: flex;
  max-width: 72rem;
  justify-content: space-between;
  gap: 2rem;
}

.site-nav .links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.articles-header {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  padding: 6rem 3rem;
  --tw-text-opacity: 1;
  color: rgb(248 250 252 / var(--tw-text-opacity));
}

.articles-header > .wrapper {
  margin: auto;
  max-width: 72rem;
}

.articles {
  margin: auto;
  display: flex;
  max-width: 64rem;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.article-item-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.site-article {
  position: relative;
}

.site-article .article-content {
  margin: auto;
  max-width: 72rem;
  padding: 3rem 3rem 6rem;
}

.article-header {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}

.article-header > .wrapper {
  margin: auto;
  display: flex;
  max-width: 80rem;
  flex-direction: column;
  gap: 1rem;
  padding: 6rem 3rem;
}

.info-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  padding: 1rem;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}

.info-box,
.info-box.warning {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.info-box.warning {
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
  color: rgb(133 77 14 / var(--tw-text-opacity));
}

.info-box.error {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(254 242 242 / var(--tw-text-opacity));
}

.info-box summary {
  cursor: pointer;
  font-weight: 700;
}

.blockquote {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  --tw-border-opacity: 1;
  border-left-color: rgb(51 65 85 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 200;
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}
